% LaTeX 2e specific macros are stored in latex/, macros that can only be
% used with 2.09 in latex209/.  In addition, we look in the directory
% latex209, useful for macros that were written for 2.09 and do not
% mention 2e at all, but can be used with 2e.
TEXINPUTS.cslatex = .;$TEXMF/tex/{cslatex,csplain,latex,generic,}//
TEXINPUTS.platex  = .;$TEXMF/tex/{platex,latex,generic,}//
TEXINPUTS.latex = .;$TEXMF/tex/{latex,generic,}//
TEXINPUTS.olatex = .;$TEXMF/tex/{latex,generic,}//
TEXINPUTS.latex209 = .;$TEXMF/tex/{latex209,generic,latex,}//

% Fontinst needs to read afm files.
TEXINPUTS.fontinst = .;$TEXMF/{tex,fonts/afm}//

% MLTeX.
TEXINPUTS.frlatex = .;$TEXMF/tex/{french,latex,generic,}//
TEXINPUTS.frtex   = .;$TEXMF/tex/{french,plain,generic,}//
TEXINPUTS.mllatex = .;$TEXMF/tex/{latex,generic,}//
TEXINPUTS.mltex = .;$TEXMF/tex/{plain,generic,}//

% e-TeX.  This form of the input paths is borrowed from teTeX.  A certain
% variant of TDS is assumed here, unaffected by the build variables.
TEXINPUTS.elatex   = .;$TEXMF/tex/{latex,generic,}//
TEXINPUTS.etex     = .;$TEXMF/tex/{plain,generic,}//

% pdfTeX.  This form of the input paths is borrowed from teTeX.  A certain
% variant of TDS is assumed here, unaffected by the build variables.
TEXINPUTS.pdfcslatex = .;$TEXMF/tex/{cslatex,csplain,latex,generic,}//
TEXINPUTS.pdfcsplain = .;$TEXMF/tex/{csplain,plain,generic,}//
TEXINPUTS.pdflatex = .;$TEXMF/tex/{latex,generic,}//
TEXINPUTS.pdfmex   = .;$TEXMF/tex/{mex,plain,generic,}//
TEXINPUTS.utf8mex   = .;$TEXMF/tex/{mex,plain,generic,}//
TEXINPUTS.pdftex   = .;$TEXMF/tex/{plain,generic,}//
TEXINPUTS.pdftexinfo = .;$TEXMF/tex/{texinfo,plain,generic,}//
TEXINPUTS.pdfamstex = .;$TEXMF/tex/{amstex,plain,generic,}//

% pdfeTeX.
TEXINPUTS.pdfelatex = .;$TEXMF/tex/{latex,generic,}//
TEXINPUTS.pdfetex   = .;$TEXMF/tex/{plain,generic,}//

% pdfxTeX.
TEXINPUTS.pdfxlatex = .;$TEXMF/tex/{latex,generic,}//
TEXINPUTS.pdfxtex   = .;$TEXMF/tex/{plain,generic,}//

% XeTeX
TEXINPUTS.xelatex       = .;$TEXMF/tex/{xelatex,latex,generic,}//
TEXINPUTS.xeplain       = .;$TEXMF/tex/{xeplain,eplain,plain,generic,}//
TEXINPUTS.xetex         = .;$TEXMF/tex/{xetex,plain,generic,}//

% Omega / Aleph
TEXINPUTS.lamed = .;$TEXMF/tex/{lamed,lambda,latex,generic,}//
TEXINPUTS.lambda = .;$TEXMF/tex/{lambda,latex,generic,}//
TEXINPUTS.omega = .;$TEXMF/tex/{plain,generic,}//
TEXINPUTS.aleph = .;$TEXMF/tex/{plain,generic,}//

% ConTeXt
TEXINPUTS.context = .;$TEXMF/tex/{context,plain,generic,}//

% odd formats  needing their own paths
TEXINPUTS.lamstex  = .;$TEXMF/tex/{lamstex,plain,generic,}//
TEXINPUTS.lollipop = .;$TEXMF/tex/{lollipop,plain,generic,}//
TEXINPUTS.platex-pl  = .;$TEXMF/tex/{platex,latex,generic,}//
TEXINPUTS.pdfplatex = .;$TEXMF/tex/{platex,latex,generic,}//

% Earlier entries override later ones, so put this last.
TEXINPUTS = .;$TEXMF/tex/{$progname,generic,}//

% extra format definitions for TeX Live

TEXINPUTS.elambda       = .;$TEXMF/tex/{lambda,latex,generic,}//
TEXINPUTS.eomega        = .;$TEXMF/tex/{plain,generic,}//
TEXINPUTS.pdfxmex       = .;$TEXMF/tex/{mex,plain,generic,}//
TEXINPUTS.frpdflatex    = .;$TEXMF/tex/{french,latex,generic,}//
TEXINPUTS.frpdftex      = .;$TEXMF/tex/{french,plain,generic,}//
TEXINPUTS.xmltex        = .;$TEXMF/tex/{xmltex,latex,generic,}//
TEXINPUTS.pdfxmltex     = .;$TEXMF/tex/{xmltex,latex,generic,}//

TTF2TFMINPUTS =                 .;$TEXMF/ttf2pk//

% Metafont, MetaPost inputs.
MFINPUTS = .;$TEXMF/metafont//;{$TEXMF/fonts,$VARTEXFONTS}/source//
MPINPUTS = .;$TEXMF/metapost//

% allow for compressed files, and various extenions
% settings are now in 90TeXDoc.cnf
%TEXDOCSSUFFIX   = ;.pdf;.ps;.dvi;.html;.txt;.tex
%TEXDOCSCOMPRESS = ;.gz;.bz2;.zip;.Z
%TEXDOCEXT       = {$TEXDOCSSUFFIX}{$TEXDOCSCOMPRESS}

% Dump files (fmt/base/mem) for vir{tex,mf,mp} to read (see web2c/INSTALL),
% and string pools (.pool) for ini{tex,mf,mp}.  It is silly that we have six
% paths and directories here (they all resolve to a single place by default),
% but historically ...
TEXFORMATS = .;$TEXMF/web2c/{$engine,}//
MFBASES = .;$TEXMF/web2c/{$engine,}//
MPMEMS = .;$TEXMF/web2c/{$engine,}//
TEXPOOL = .;$TEXMF/web2c
MFPOOL = .;$TEXMF/web2c
MPPOOL = .;$TEXMF/web2c

