% Additional variables for tex4ht/t4ht programs.  The default texmf.cnf
% already has T4HTINPUTS.  TEX4HTINPUTS is not strictly necessary but is
% included for completeness (it points to the kpathsea default).
% TEX4HTFONTSET is not needed for default situations, but setting it avoids a
% warning message from tex4ht.
%T4HTINPUTS   = .;$TEXMF/tex4ht//
TEX4HTINPUTS   = .;$TEXMF/tex4ht//
TEX4HTFONTSET   = .;$TEXMF/tex4ht/ht-fonts//

% Added the default search location for scripts on Debian
TEXINPUTS.mk4ht = /usr/share/tex4ht/

