% File    : language.dat
% Purpose : specify which hypenation patterns to load 
%           while running iniomega
% This file was modified for use with Omega by 
% Alexej Kryukov <basileia@yandex.ru>
% 
% The suggested hyphenation files for Russian and Greek are
% distributed together with the antomega package. For Western
% languages you may use the same hyphenation patterns, as for
% standard TeX.

% The US-english patterns should be loaded *always* and as *first* ones.
% Define USenglish as an alias for american.
american ushyph1.tex
=USenglish

% UK english, TWO LINES!
%british  ukhyphen.tex
%=UKenglish

% english should always be defined. Either an alias for american or british.
=english

german		dehypht.tex
%=austrian
% For use with ngerman.sty (neue Rechtschreibung):
%ngerman	dehyphn.tex
%=naustrian

% French, TWO lines!
french		frhyph.tex
=patois

% Russian
russian		ruhyph16.tex	% note: edit ruhyph16.tex for your encoding!

% Greek
greek		grhyph16.tex	% note: edit grhyph16.tex for your encoding!

polish		plhyph.tex

% The following languages are still not supported by
% the antomega package, so they are disabled by default.

%bahasa		inhyph.tex
%catalan	cahyph.tex
%croatian	hrhyph.tex
%czech		czhyph2e.tex
%danish		dkhyphen.tex
%dutch		nehyph2.tex  % or nehyphx.tex
%finnish	fi8hyph.tex
%galician	gahyph.tex
%italian	ithyph.tex
%latin		lahyph8.tex     % for T1 encoding. Use lahyph7.tex for OT1.
%magyar		huhyph.tex
%norsk		nohyph.tex
%portuges	pt8hyph.tex
%romanian	rohyphen.tex
%serbocroatian	shhyphl.tex
%slovak         skhyph2e.tex
%slovene	sihyph22.tex
%spanish	sphyph.tex
%swedish	sehyph.tex
%turkish	trhyph.tex
%ukrainian	ukrhyph.tex	% note: edit ukrhyph.tex for your encoding!

% For Ukrainian, either use ukrhyph.tex (and edit that file for the encoding
% that you need) or use one of the ukrhyph.ENC files.
%ukrainian	ukrhyph.tex
%ukrainian	ukrhyph.t2a
%ukrainian	ukrhyph.lcy
%ukrainian	ukrhyph.ot2


% A "language" without hyphenation:
nohyphenation	zerohyph.tex
