# 10texlive-formats-extra.cnf
# You can change/add entries to this file and changes will be preserved
# over upgrades, even if you have removed the main package prior
# (not if you purged it). You should leave the following pseudo comment
# present in the file!
# -_- DebPkgProvidedMaps -_-
# 
# formats for mltex extension:
mltex           pdftex -               -translate-file=cp227.tcx -mltex mltex.ini
mllatex         pdftex language.dat    -translate-file=cp227.tcx -mltex mllatex.ini
texsis          pdftex -               -translate-file=cp227.tcx texsis.ini
phyzzx          pdftex -               physe.ini
physe           pdftex -               physe.ini
# Change "eplain.ini -> ebplain.ini" and "- -> language.dat"
# if you want babel support in eplain:
eplain  pdftex         language.dat      -translate-file=cp227.tcx *eplain.ini
