# 10texlive-math-extra.cnf
# You can change/add entries to this file and changes will be preserved
# over upgrades, even if you have removed the main package prior
# (not if you purged it). You should leave the following pseudo comment
# present in the file!
# -_- DebPkgProvidedMaps -_-
# 
# Change "amstex.ini -> bamstex.ini" and "- -> language.dat"
# if you want babel support in amstex:
amstex  pdftex         -               -translate-file=cp227.tcx *amstex.ini
# Change "pdfamstex.ini -> pdfbamstex.ini" and "- -> language.dat"
# if you want babel support in pdfamstex:
#! pdfamstex    pdftex                 -       -translate-file=cp227.tcx *pdfamstex.ini
