# 40musixtex.cnf
# You can change/add entries to this file and changes will be preserved
# over upgrades, even if you have removed the main package prior
# (not if you purged it). You should leave the following pseudo comment
# present in the file!
# -_- DebPkgProvidedMaps -_-
# 
# 40musixtex.cnf: configuration file for fmtutil; musixtex flavor.
#                 uncomment the 'musixtex' line below, then run the commands
#                   update-fmtutil
#                   fmtutil --byfmt musixtex
#                 to create a musixtex format.  (If you have disabled
#                 update-fmtutil, please either re-enable it first
#                 with "dpkg-reconfigure tetex-bin" or add this line
#                 manually to /usr/share/texmf/web2c/fmtutil.cnf )
#
# format       engine  pattern-file    arguments
#musixtex      tex     language.dat    musixtex.ini
