% BibTeX bibliographies and style files.
BIBINPUTS = .;$TEXMF/bibtex/bib//
BSTINPUTS = .;$TEXMF/bibtex/{bst,csf}//
% For bibtex8. Do we really need to repeat the BIBINPUTS setting?
BIBINPUTS.bibtex8 =             .;$TEXMF/bibtex/{bib,}//
BSTINPUTS.bibtex8 =             .;$TEXMF/bibtex/{bst,csf,}//

% MFT style files.
MFTINPUTS = .;$TEXMF/mft//

