% Makeindex style (.ist) files.
INDEXSTYLE = .;$TEXMF/makeindex//

% Font encoding files (.enc).
ENCFONTS = .;$TEXMF/fonts/enc//

% CMap files.
CMAPFONTS = .;$TEXMF/fonts/cmap//

% Subfont definition files.
SFDFONTS = .;$TEXMF/fonts/sfd//

% OpenType outline fonts.
OPENTYPEFONTS = .;$TEXMF/fonts/opentype//

% pdftex config files:
PDFTEXCONFIG = .;$TEXMF/pdftex/{$progname,}//

% Used by DMP (ditroff-to-mpx), called by makempx -troff.
TRFONTS = /usr/{local,}/share/groff/{current/font,site-font}/devps
MPSUPPORT = .;$TEXMF/metapost/support

% For xdvi to find mime.types and .mailcap, if they do not exist in
% $HOME.  These are single directories, not paths.
% (But the default mime.types, at least, may well suffice.)
MIMELIBDIR = /etc
MAILCAPLIBDIR = /etc

% Default settings for fontconfig library, used by Win32 versions of  
% xetex/xdvipdfmx (note that fontconfig on Linux/Unix-like systems 
% will ignore settings in this file)
FONTCONFIG_FILE=fonts.conf
FONTCONFIG_PATH=$SELFAUTOLOC/conf
FC_CACHEDIR=$SELFAUTOLOC/cache

% TeX documentation and source files, for use with kpsewhich.
% TeX Live has a separate hierarchy with just documentation, texmf-doc,
% in addition to the doc files in the other hierarchies.
TEXMFDOCDIR = $SELFAUTOPARENT/texmf-doc/doc
% On Debian systems, $TEXMFDOCDIR is unused
TEXDOCS = .;$TEXMF/doc//
TEXSOURCES = .;$TEXMF/source//

% Web and CWeb input paths.
WEBINPUTS = .;$TEXMF/web//
CWEBINPUTS = .;$TEXMF/cweb//

% Omega-related fonts and other files.
OFMFONTS = .;{$TEXMF/fonts,$VARTEXFONTS}/{ofm,tfm}//
OPLFONTS = .;{$TEXMF/fonts,$VARTEXFONTS}/opl//
OVFFONTS = .;{$TEXMF/fonts,$VARTEXFONTS}/{ovf,vf}//
OVPFONTS = .;{$TEXMF/fonts,$VARTEXFONTS}/ovp//
OTPINPUTS = .;$TEXMF/omega/otp//
OCPINPUTS = .;$TEXMF/omega/ocp//

% Some additional input variables for several programs.  If you add
% a program that uses the 'other text files' or 'other binary files'
% search formats, you'll want to add their variables here as well.
T4HTINPUTS   = .;$TEXMF/tex4ht//

%% t4ht utility, sharing files with TeX4ht
TEX4HTFONTSET=alias,iso8859,unicode
TEX4HTINPUTS = .;$TEXMF/tex4ht/base//;$TEXMF/tex4ht/ht-fonts/{$TEX4HTFONTSET}//

% Part for scripts that are distributed/installed in the texmf tree.

% Architecture independent executables.
TEXMFSCRIPTS = $TEXMF/scripts/{$engine,$progname,}//

% Perl, Python, Ruby, Java scripts
JAVAINPUTS   = .;$TEXMF/scripts/{$progname,$engine,}/java//
LUAINPUTS    = .;$TEXMF/scripts/{$progname,$engine,}/lua//
PERLINPUTS   = .;$TEXMF/scripts/{$progname,$engine,}/perl//
PYTHONINPUTS = .;$TEXMF/scripts/{$progname,$engine,}/python//
RUBYINPUTS   = .;$TEXMF/scripts/{$progname,$engine,}/ruby//


%% The mktex* scripts rely on KPSE_DOT. Do not set it in the environment.
% KPSE_DOT = .

% This definition isn't used from this .cnf file itself (that would be
% paradoxical), but the compile-time default in paths.h is built from it.
% The SELFAUTO* variables are set automatically from the location of
% argv[0], in kpse_set_progname.  
% 
% The TETEXDIR stuff isn't likely to be relevant unless you're using 
% teTeX, but it doesn't hurt.
%
% For security reasons, it is better not to have . part of the path.
% 
% Since tetex-bin_3.0-22, it restricts this to dirs that actually exist,
% to silent e.g. automounters:
TEXMFCNF = /usr/share/texmf/web2c;/usr/local/share/texmf/web2c
