% the default extensions for documentation
TEXDOCSSUFFIX = .pdf:.dvi:.ps:.txt:.tex
% we allow some compression methods
TEXDOCSCOMPRESS = :.gz:.bz2:.zip:.Z
% put html at the very end, to avoid showing the Catalogue:
TEXDOCHTML = .html
% and put that all now together
TEXDOCEXT = {$TEXDOCSSUFFIX}{$TEXDOCSCOMPRESS}:{$TEXDOCHTML}{$TEXDOCSCOMPRESS}

