% 09texlive-base.cnf
% You can change/add entries to this file and changes will be preserved
% over upgrades, even if you have removed the main package prior
% (not if you purged it). You should leave the following pseudo comment
% present in the file!
% -_- DebPkgProvidedMaps -_-
% 
% language.us (and the start of language.dat)
% - initial hyphenation patterns.
% Created long ago by Sebastian Rahtz and others.  Public domain.
% 
% language.us is concatenated with the other language.*.dat files
% desired by the user to create language.dat.  This is done at the end
% of install-tl.sh.
% 
% The premade texmf/tex/generic/config/language.dat (where you might be
% reading this) in the distribution is a copy of this concatenation with
% all languages enabled.  It is used when the user asks to run live
% (install option R).
%
% The preferred comment for actual language lines is %!. Do not use %!
% for textual comments like this. This is to be able to separate
% textual comments from commented-out language in such a way that
% automatic parsing by programs is possible, so that 
% we can present the user with `all possible languages'.
% 
% *PLEASE*, keep english as the default (first) here, and let it refer
% to hyphen.tex (not, e.g., ushyph.tex), and do not change the
% hyphen.tex file, or name some other file hyphen.tex.  hyphen.tex must
% remain the original file from Knuth, and it must be \language0.
% Otherwise DEK will not be happy when he retypesets the Art of Computer
% Programming and gets new hyphenation.
% 
% The babel system allows you to easily change the active language for
% LaTeX. For more information, see the documentation in
% texmf-dist/doc/generic/babel/.  ConTeXt has its own language support too.
% 
english		hyphen.tex  % do not change!
=usenglish
=USenglish
=american
%
% ushyphmax.tex, on the other hand, includes Gerard Kuiken's additional
% patterns; it is not frozen.
usenglishmax	ushyphmax.tex
%
% FYI, ushyph.tex is Dr. Kuiken's smaller set of patterns; with today's
% large memories, there is no reason to use it, and we don't list it here.
% ushyph1.tex is another (historical) name for hyphen.tex.
% ushyph2.tex is another (historical) name for ushyph.tex.
% --karl
% 
dumylang	dumyhyph.tex    %for testing a new language.
nohyphenation	zerohyph.tex    %a language with no patterns at all.
